# Data Exploration of Environmental Data

#### Loading the Data

In [1]:
import pandas as pd

In [10]:
data = pd.read_csv("/Users/keonnartey/Downloads/data.csv", encoding="latin1")
len(data)

/var/folders/qs/rjygft750zb0p7_q7l9lhbw80000gn/T/ipykernel_33119/1969181001.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/Users/keonnartey/Downloads/data.csv",encoding='latin1')

In [11]:
data.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

In [24]:
data.pm2_5.isnull()

0         True
1         True
2         True
3         True
4         True
          ...
435737    True
435738    True
435739    True
435740    True
435741    True
Name: pm2_5, Length: 435742, dtype: bool

In [12]:
data.state.nunique()

37

In [13]:
data.state.value_counts()

state
Maharashtra                    60384
Uttar Pradesh                  42816
Andhra Pradesh                 26368
Punjab                         25634
Rajasthan                      25589
Kerala                         24728
Himachal Pradesh               22896
West Bengal                    22463
Gujarat                        21279
Tamil Nadu                     20597
Madhya Pradesh                 19920
Assam                          19361
Odisha                         19279
Karnataka                      17119
Delhi                           8551
Chandigarh                      8520
Chhattisgarh                    7831
Goa                             6206
Jharkhand                       5968
Mizoram                         5338
Telangana                       3978
Meghalaya                       3853
Puducherry                      3785
Haryana                         3420
Nagaland                        2463
Bihar                           2275
Uttarakhand                     1961
Jammu & Kashmir                 1289
Daman & Diu                      782
Dadra & Nagar Haveli             634
Uttaranchal                      285
Arunachal Pradesh                 90
Manipur                           76
Sikkim                             1
andaman-and-nicobar-islands        1
Lakshadweep                        1
Tripura                            1
Name: count, dtype: int64

In [16]:
data.location.value_counts()

location
Guwahati      9984
Hyderabad     9667
Delhi         8551
Chandigarh    8520
Jaipur        7850
              ...
VAPI            24
SANAND          23
Khajuraho       16
Gangtok          1
Dharuhera        1
Name: count, Length: 304, dtype: int64

In [17]:
data.type.nunique()

10

In [18]:
data.type.value_counts()

type
Residential, Rural and other Areas    179014
Industrial Area                        96091
Residential and others                 86791
Industrial Areas                       51747
Sensitive Area                          8980
Sensitive Areas                         5536
RIRUO                                   1304
Sensitive                                495
Industrial                               233
Residential                              158
Name: count, dtype: int64

In [33]:
data["date"] = pd.to_datetime(data.date)
data

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29
435739,NaN,NaN,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
435740,NaN,NaN,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
435741,NaN,NaN,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [35]:
data[data.date.dt.year > 2005]

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
2768,NaN,1/3/2006,Andhra Pradesh,Hyderabad,NaN,Industrial Areas,5.0,27.7,122.0,295.0,C.I.T.D. Balanagar,NaN,2006-03-01
2769,NaN,1/5/2006,Andhra Pradesh,Hyderabad,NaN,Industrial Areas,5.1,33.3,154.0,359.0,C.I.T.D. Balanagar,NaN,2006-05-01
2770,NaN,1/8/2006,Andhra Pradesh,Hyderabad,NaN,Industrial Areas,4.9,37.6,139.0,379.0,C.I.T.D. Balanagar,NaN,2006-08-01
2771,NaN,2/10/2006,Andhra Pradesh,Hyderabad,NaN,Industrial Areas,6.0,37.0,151.0,361.0,C.I.T.D. Balanagar,NaN,2006-10-02
2772,NaN,14/2/2006,Andhra Pradesh,Hyderabad,NaN,Industrial Areas,11.3,69.2,175.0,467.0,C.I.T.D. Balanagar,NaN,2006-02-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435734,SAMP,15-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,44.0,148.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-15
435735,SAMP,18-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,17.0,44.0,131.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-18
435736,SAMP,21-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,18.0,45.0,140.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-21
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29

In [19]:
data.isnull().sum()

stn_code                       144077
sampling_date                       3
state                               0
location                            3
agency                         149481
type                             5393
so2                             34646
no2                             16233
rspm                            40222
spm                            237387
location_monitoring_station     27491
pm2_5                          426428
date                                7
dtype: int64

In [36]:
data.so2.mean()

10.829414322672587

In [38]:
data.no2.mean()

25.80962289781126